<div class="content photo">
    <img alt="large photo" />
    <div class="prev">&lt;</div>
    <div class="next">&gt;</div>
    <table>
        <tr>
            <th>Shutter</th>
            <td>1/250</td>
        </tr>
        <tr>
            <th>Aperture</th>
            <td>f3.5</td>
        </tr>
        <tr>
            <th>Flash</th>
            <td>No flash</td>
        </tr>
        <tr>
            <th>Focal Length</th>
            <td>55mm</td>
        </tr>
    </table>
    <p>Photograph caption</p>
</div>
