<div class="collection">

  <% photos.each do |photo| %>
      <%= div_for photo do %>
        <%= link_to image_tag(photo.image.thumb('160x120#').url), photo, :rel => "shadowbox[latest];content=#{photo.image.thumb('960x720').url};player=img", :title => photo.caption %>
      <% end %>
  <% end %>

</div>