@import 'definitions';
@import 'mixins';

html {
    color: #333333;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.30;
}

strong {
    font-weight: 700;
}

body {
    background: #dddddd url(image-path('body-gradient.png')) top center repeat-x;
    margin: 0;
    padding: 0;
}

a {
    color: #3399cc;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.page {

    background: #ffffff;
    margin: 30px auto;
    width: $page-width;
    
    @include drop-shadow;
    @include rounded-corners;

    .header {

        background-color: $light;
        font-family: 'Architects Daughter', cursive;
        margin-bottom: 5px;

        @include rounded-top;

        .title {
          
          background-color: #1d1d1d;
          
          /* Safari 4-5, Chrome 1-9 */
          background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1d1d1d), to(#3c3c3c));
          /* Safari 5.1, Chrome 10+ */
          background: -webkit-linear-gradient(top, #3c3c3c, #1d1d1d);
          /* Firefox 3.6+ */
          background: -moz-linear-gradient(top, #3c3c3c, #1d1d1d);
          /* IE 10 */
          background: -ms-linear-gradient(top, #3c3c3c, #1d1d1d);
          /* Opera 11.10+ */
          background: -o-linear-gradient(top, #3c3c3c, #1d1d1d);
          
          @include rounded-top;
          
          h1 {
              font-size: 3em;
              margin: 0;
              padding: 30px;
          }

        }
        
        img {
            display: block;
        }

        a {
            color: $text;
            &:hover {
                color: lighten($text, 15%);
                text-decoration: none;
            }
        }

        .navigation {

            overflow: hidden;
            position: relative;

            ul {

                background: transparent url(image-path('0.50.png')) repeat;
                bottom: 0;
                left: 0;
                margin: 0;
                padding: 0 0 0 35px;
                position: absolute;
                right: 0;
                
                li {
                    display: inline-block;
                    font-size: 1.3em;
                    list-style: none;
                    margin: 8px 15px;
                }

            }

        }

    }
    
    .body {
        /* Application layout says nothing about content layout or styles */
    }

    .footer {
        background-color: $light;
        margin-top: 5px;
        
        @include rounded-bottom;

        ul {

            margin: 0;
            padding: 0;
            text-align: center;

            li {
                display: inline-block;
                list-style: none;
                margin: 10px 15px;
            }

        }

    }
    
}

.copyright {
  color: #999999;
  margin: 30px;
  
  p {
    text-align: center;
  }
  
}

