@import 'definitions';

html {
    color: $text;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.30;
}

strong {
    font-weight: 700;
}

body {
    background: $dark;
    margin: 0;
    padding: 0;
}

a {
    color: #66ccff;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.page {

    margin: 30px auto;
    width: $page-width;

    .header {

        font-family: 'Architects Daughter', cursive;
        margin-bottom: 5px;

        h1 {
            background-color: $light;
            font-size: 3em;
            margin: 0;
            padding: 30px;
        }

        img {
            display: block;
        }

        a {
            color: $text;
            &:hover {
                color: lighten($text, 15%);
                text-decoration: none;
            }
        }

        .navigation {

            overflow: hidden;
            position: relative;

            ul {

                background: transparent url(image-path('0.50.png')) repeat;
                bottom: 0;
                left: 0;
                margin: 0;
                padding: 0;
                position: absolute;
                right: 0;

                li {
                    display: inline-block;
                    font-size: 1.3em;
                    list-style: none;
                    margin: 8px 15px;
                }

            }

        }

    }

    .content {
        /* Application layout says nothing about content layout or styles */
    }

    .footer {

        background-color: $light;
        margin-top: 5px;

        ul {

            margin: 0;
            text-align: center;

            li {
                display: inline-block;
                list-style: none;
                margin: 10px 15px;
            }

        }

    }
}


