//= require_self
//= require shadowbox

@import 'definitions';
@import 'mixins';

.photos {
    .header {

        margin-bottom: 0;
        
        .navigation {
            ul {
                position: relative;
            }
        }
    }
    
    .body {

        position: relative;

        .collection {

            margin: 50px;
            text-align: center;

            a img {
                border: none;
                opacity: 0.9;
                &:hover {
                    opacity: 1.0;
                }
            }

            .photo {
                border: 1px solid #3399cc;
                display: inline-block;
                height: 129px;
                margin: 0px;
                width: 172px;
            }

        }

        .item {

            .photo {

                text-align: center;

                &.img {
                    display: block;
                }

                #details {

                    background: transparent url(image-path('0.50.png')) repeat;
                    border: 1px solid rgb(128,128,128);
                    border-collapse: separate;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-spacing: 0;
                    color: $text;
                    font-size: 0.8em;
                    position: absolute;
                    right: 30px;
                    top: 30px;

                    th {
                        text-align: left;
                    }

                    th,td {
                        padding: 2px 5px;
                    }

                    tr.title th {
                        border-bottom: 1px solid rgb(128,128,128);
                        text-align: center;
                    }

                }

            }

        }

    }

}
