@import 'definitions';

.posts {
  
  .post {
    padding: 50px;
    
    h2.title {
      font-size: 2.2em;
      margin: 0;
    }

    p.published_on {
      color: #999999;
      float: left;
      margin-top: 0;
    }

    .content {

      clear: both;
      margin: 40px 0;

      h1 { font-size: 2.0em; }
      h2 { font-size: 1.8em; }
      h3 { font-size: 1.4em; }
      h4 { font-size: 1.2em; }
      h5 { font-size: 1.0em; }
      h6 { font-size: 0.8em; }
    }

  }  
  
}