<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Photos", photos_path %></li>
  <li><%= link_to "Code", "/code" %></li>
  <li><%= link_to "Life", "/life" %></li>
  <li>About</li>
  <li>Contact</li>
</ul>